.main1{
  width:200px;
  height:100px;
  background-color: aquamarine;
}
.main2{
  width:200px;
  height:100px;
  background-color:orange;
}
.main3{
  width:200px;
  height:100px;
  background-color: red;
}
.main4{
  width:200px;
  height:100px;
  background-color: black;
}

html{
  scroll-behavior: smooth;
}